#!/usr/bin/env bash

# This file is automatically loaded by `direnv` if allowed.
# It enters you into the poetry-managed virtual environment.

# check if poetry is installed
if ! command -v poetry >/dev/null ; then
	>&2 echo ERROR: poetry not found!
	exit 1
fi

# create the venv if it doesn't already exist
poetry run true

# Set the venv environment variables
export VIRTUAL_ENV=$(poetry env info --path)
export POETRY_ACTIVE=1
PATH_add "$VIRTUAL_ENV/bin"
